<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="origins-tab" data-bs-toggle="tab" data-bs-target="#origins" type="button" role="tab" aria-controls="origins" aria-selected="false">Origins</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="sources-tab" data-bs-toggle="tab" data-bs-target="#sources" type="button" role="tab" aria-controls="sources" aria-selected="false">Sources</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="targets-tab" data-bs-toggle="tab" data-bs-target="#targets" type="button" role="tab" aria-controls="targets" aria-selected="false">Targets</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="example-tab" data-bs-toggle="tab" data-bs-target="#dataset" type="button" role="tab" aria-controls="dataset" aria-selected="false">Dataset</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="example-tab" data-bs-toggle="tab" data-bs-target="#example" type="button" role="tab" aria-controls="example" aria-selected="false">Example</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
      <div class="input-group mb-3">
        <span class="input-group-text">Name :</span>
        <input type="text" name="name" class="form-control" placeholder="Name" aria-label="Name">
      </div>
      <div class="input-group">
        <span class="input-group-text">Description</span>
        <textarea class="form-control" name="description" aria-label="With textarea"></textarea>
      </div>
      <hr />
      <div class="input-group mb-3">
        <span class="input-group-text">Image :</span>
        <input type="file" name="image" class="form-control" placeholder="Image" aria-label="Image">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Logo :</span>
        <input type="file" name="logo" class="form-control" placeholder="Logo" aria-label="Logo">
      </div>
      <hr />
      <div class="input-group mb-3">
        <span class="input-group-text">URL :</span>
        <input type="link" name="url" class="form-control" placeholder="URL" aria-label="URL">
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="input-group mb-3">
        <span class="input-group-text">Manufacturer</span>
        <input type="link" name="manufacturer" class="form-control" placeholder="Manufacturer" aria-label="Manufacturer">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Product ID :</span>
        <input type="link" name="productID" class="form-control" placeholder="Product ID" aria-label="Product ID">
      </div>
      <hr />
      <div class="input-group mb-3">
        <span class="input-group-text">Identifier :</span>
        <input type="link" name="identifier" class="form-control" placeholder="Identifier" aria-label="Identifier">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Slogan :</span>
        <input type="link" name="slogan" class="form-control" placeholder="Slogan" aria-label="Slogan">
      </div>
      <hr />
      <div class="mb-3">
          <ul class="nav nav-tabs" id="myGtin" role="tablist">
              <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="generic-tab" data-bs-toggle="tab" data-bs-target="#generic" type="button" role="tab" aria-controls="generic" aria-selected="true">Default</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="gtin8-tab" data-bs-toggle="tab" data-bs-target="#gtin8" type="button" role="tab" aria-controls="gtin8" aria-selected="false">GTIN 8</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="gtin12-tab" data-bs-toggle="tab" data-bs-target="#gtin12" type="button" role="tab" aria-controls="gtin12" aria-selected="false">GTIN 12</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="gtin13-tab" data-bs-toggle="tab" data-bs-target="#gtin13" type="button" role="tab" aria-controls="gtin13" aria-selected="false">GTIN 13</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="gtin14-tab" data-bs-toggle="tab" data-bs-target="#gtin14" type="button" role="tab" aria-controls="gtin14" aria-selected="false">GTIN 14</button>
              </li>
          </ul>
          <div class="tab-content" id="myGtinContent">
              <div class="tab-pane fade show active" id="generic" role="tabpanel" aria-labelledby="generic-tab">
                  <input type="link" name="gtin" class="form-control" placeholder="Generic" aria-label="Generic">
              </div>
              <div class="tab-pane fade" id="gtin8" role="tabpanel" aria-labelledby="gtin8-tab">
                  <input type="link" name="gtin8" class="form-control" placeholder="GTIN 8" aria-label="GTIN 8">
              </div>
              <div class="tab-pane fade" id="gtin12" role="tabpanel" aria-labelledby="gtin12-tab">
                  <input type="link" name="gtin12" class="form-control" placeholder="GTIN 12" aria-label="GTIN 12">
              </div>
              <div class="tab-pane fade" id="gtin13" role="tabpanel" aria-labelledby="gtin13-tab">
                  <input type="link" name="gtin13" class="form-control" placeholder="GTIN 13" aria-label="GTIN 13">
              </div>
              <div class="tab-pane fade" id="gtin14" role="tabpanel" aria-labelledby="gtin14-tab">
                  <input type="link" name="gtin14" class="form-control" placeholder="GTIN 14" aria-label="GTIN 14">
              </div>
          </div>
      </div>
      <hr />
      <div class="input-group mb-3">
        <span class="input-group-text">M.P.N</span>
        <input type="text" class="form-control" name="mpn" placeholder="M.P.N" aria-label="M.P.N">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">N.S.N</span>
        <input type="text" class="form-control" name="nsn" placeholder="N.S.N" aria-label="N.S.N">
      </div>
    </div>
    <div class="tab-pane fade" id="origins" role="tabpanel" aria-labelledby="origins-tab">
      <div class="input-group mb-3">
        <span class="input-group-text">Item Condition</span>
        <select class="form-select form-select-lg" aria-label=".form-select-lg example" name="itemCondition">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <hr />
      <div class="input-group mb-3">
        <span class="input-group-text">Country Of Assembly</span>
        <select class="form-select form-select-lg" aria-label=".form-select-lg example" name="countryOfAssembly">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Country Of Last Processing</span>
        <select class="form-select form-select-lg" aria-label=".form-select-lg example" name="countryOfLastProcessing">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Country Of Origin</span>
        <select class="form-select form-select-lg" aria-label=".form-select-lg example" name="countryOfOrigin">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <hr />
      <div class="input-group mb-3">
        <span class="input-group-text">Production Date :</span>
        <input type="date" name="productionDate" class="form-control" placeholder="Production Date" aria-label="Production Date">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Release Date :</span>
        <input type="date" name="releaseDate" class="form-control" placeholder="Release Date" aria-label="Release Date">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Purchase Date :</span>
        <input type="date" name="purchaseDate" class="form-control" placeholder="Purchase Date" aria-label="Purchase Date">
      </div>
    </div>
    <div class="tab-pane fade" id="sources" role="tabpanel" aria-labelledby="sources-tab">
      <div class="input-group mb-3">
        <span class="input-group-text">Audience</span>
        <input type="link" name="audience" class="form-control" placeholder="Audience" aria-label="Audience">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Category</span>
        <input type="link" name="category" class="form-control" placeholder="Category" aria-label="Category">
      </div>
      <hr />
      <div class="input-group mb-3">
        <span class="input-group-text">Award</span>
        <input type="text" class="form-control" name="award" placeholder="Award" aria-label="Award">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Brand :</span>
        <input type="text" name="url" class="form-control" placeholder="Brand" aria-label="Brand">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Funding</span>
        <input type="text" class="form-control" name="funding" placeholder="Funding" aria-label="Funding">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Model :</span>
        <input type="text" name="model" class="form-control" placeholder="Model" aria-label="Model">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Offers</span>
        <input type="text" class="form-control" name="offers" placeholder="Offers" aria-label="Offers">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Review</span>
        <input type="text" class="form-control" name="review" placeholder="Review" aria-label="Review">
      </div>
      <hr />
      <div class="input-group mb-3">
        <span class="input-group-text">Keywords</span>
        <textarea class="form-control" name="keywords" aria-label="Keywords"></textarea>
      </div>
    </div>
    <div class="tab-pane fade" id="targets" role="tabpanel" aria-labelledby="targets-tab">
      <div class="input-group mb-3">
        <span class="input-group-text">Width</span>
        <input type="number" class="form-control" name="width" placeholder="Width" aria-label="Width">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Height</span>
        <input type="number" class="form-control" name="height" placeholder="Height" aria-label="Height">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Weight</span>
        <input type="number" class="form-control" name="weight" placeholder="Weight" aria-label="Weight">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Depth</span>
        <input type="number" class="form-control" name="depth" placeholder="Depth" aria-label="Depth">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">S.K.U</span>
        <input type="number" class="form-control" name="sku" placeholder="S.K.U" aria-label="S.K.U">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Color</span>
        <div class="form-control">
          <input type="color" class="form-control-color" id="color[]" value="#563d7c" title="Choose your color">
          <input type="color" class="form-control-color" id="color[]" value="#563d7c" title="Choose your color">
          <input type="color" class="form-control-color" id="color[]" value="#563d7c" title="Choose your color">
          <input type="color" class="form-control-color" id="color[]" value="#563d7c" title="Choose your color">
          <input type="color" class="form-control-color" id="color[]" value="#563d7c" title="Choose your color">
          <input type="color" class="form-control-color" id="color[]" value="#563d7c" title="Choose your color">
          <input type="color" class="form-control-color" id="color[]" value="#563d7c" title="Choose your color">
          <input type="color" class="form-control-color" id="color[]" value="#563d7c" title="Choose your color">
        </div>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Size</span>
        <input type="number" class="form-control" name="size" placeholder="Size" aria-label="Size">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Pattern</span>
        <input type="text" class="form-control" name="pattern" placeholder="Pattern" aria-label="Pattern">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Material</span>
        <input type="text" class="form-control" name="material" placeholder="Material" aria-label="Material">
      </div>
    </div>
    <div class="tab-pane fade" id="dataset" role="tabpanel" aria-labelledby="dataset-tab">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="hasAdultConsideration">
        <label class="form-check-label" for="hasAdultConsideration">Has Adult Consideration ?</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="hasEnergyConsumption">
        <label class="form-check-label" for="hasEnergyConsumption">Has EnergyConsumption ?</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="hasMeasurements">
        <label class="form-check-label" for="hasMeasurements">Has Measurements ?</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="isFamilyFriendly">
        <label class="form-check-label" for="isFamilyFriendly">Is Family Friendly ?</label>
      </div>
      <hr />
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="isAccessoryOrSparePartOf">
        <label class="form-check-label" for="isAccessoryOrSparePartOf">Is Accessory Or Spare Part Of</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="isConsumableFor">
        <label class="form-check-label" for="isConsumableFor">Is Consumable For ?</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="isRelatedTo">
        <label class="form-check-label" for="isRelatedTo">Is Related To</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="isSimilarTo">
        <label class="form-check-label" for="isSimilarTo">Is Similar To</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="isVariantOf">
        <label class="form-check-label" for="isVariantOf">Is Variant Of</label>
      </div>
      <hr />
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="inProductGroupWithID">
        <label class="form-check-label" for="inProductGroupWithID">In Product Group With ID</label>
      </div>
      <h4>Additional Property :</h4>
      <input type="json" class="form-control" name="additionalProperty" placeholder="Additional Property" aria-label="Additional Property">
    </div>
    <div class="tab-pane fade" id="example" role="tabpanel" aria-labelledby="example-tab">
      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
        <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
      <div class="input-group">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action before</a></li>
        <li><a class="dropdown-item" href="#">Another action before</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
        <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
        <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>

      <label for="exampleColorInput" class="form-label">Color picker</label>
      <input type="color" class="form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color">

      <label for="customRange2" class="form-label">Example range</label>
      <input type="range" class="form-range" min="0" max="5" id="customRange2">

      <label for="customRange3" class="form-label">Example range</label>
      <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">

      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
      </div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
        <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
        <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch checkbox input</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
        Default radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
        Default checked radio
        </label>
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
      </div>
      <label for="basic-url" class="form-label">Your vanity URL</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">.00</span>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Server" aria-label="Server">
      </div>
      <div class="input-group">
        <span class="input-group-text">With textarea</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
</div>
