<form>
  <div class="mb-3">
    <label for="apiKey" class="form-label">API key</label>
    <input type="text" class="form-control" id="apiKey" aria-describedby="apiKeyHelp">
<!--
    <div id="apiKeyHelp" class="form-text">We'll never share your email with anyone else.</div>
//-->
  </div>
  <div class="mb-3">
    <label for="apiSecret" class="form-label">API secret</label>
    <input type="text" class="form-control" id="apiSecret" aria-describedby="apiSecretHelp">
<!--
    <div id="apiSecretHelp" class="form-text">We'll never share your email with anyone else.</div>
//-->
  </div>
  <hr />
  <div class="mb-3">
    <label for="apiToken" class="form-label">Current API token</label>
    <input type="text" class="form-control" id="apiToken" aria-describedby="apiTokenHelp" readonly>
<!--
    <div id="apiTokenHelp" class="form-text">We'll never share your email with anyone else.</div>
//-->
  </div>
</form>

