* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

.wrapper {
	width: 100vw;
	height: 100vh;

	display: block;
	position: relative;
	
	background-color: #101010;
}

.universe {
	width: 1020px;
	height: 510px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: fixed;
	
	background-color: #101010;
	font-size: 32px;
}

.sun {
	width: 10em;
	height: 10em;
	
	border-radius: 9999px;
	
	box-shadow: inset 0 0 4em #EA580C,
			  0 0 1.5px rgba(#F59E0B, 1),
			  0 0 4.5em rgba(#EA580C, .8);
	background-color: #EAB308;
	z-index: 100;
}

@keyframes orbit {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}

.orbit {
	border-radius: 9999px;
	border: .063em solid #44403C;
	position: absolute;
	animation: orbit linear infinite;
}

.planet {
	border-radius: 9999px;
	position: absolute;
	top: 50%; left: 0;
	transform: translate(calc(-50% - 1px), -50%);
	
	cursor: pointer;
}


.entity {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.satellite {
	border-radius: 9999px;
	position: absolute;
	top: 50%; left: 0;
	transform: translate(-50%, -50%);
}

.mercury {
	width: 20em;
	height: 20em;
	
	z-index: 99;
	animation-duration: 6.6s;
}

.mercury .planet {
	width: .313em;
	height: .313em;
	
	background-color: #E7E5E4;
}

.venus {
	width: 24em;
	height: 24em;
	
	z-index: 98;
	animation-duration: 22.4s;
}

.venus .planet {
	width: .438em;
	height: .438em;
	
	background-color: #EA580C;
}

.earth {
	width: 28em;
	height: 28em;
	
	z-index: 97;
	animation-duration: 36.5s;
}

.earth .planet {
	width: .438em;
	height: .438em;
	
	position: relative;
	
	background-color: #0891B2;
}

.earth .moon {
	width: 1.25em;
	height: 1.25em;
	
	animation-duration: 2.7s;
	
}

.earth .moon .satellite {
	width: .2875em;
	height: .2875em;
	
	background-color: #A8A29E;
}

.mars {
	width: 34em;
	height: 34em;
	
	z-index: 96;
	animation-duration: 69.7s;
}

.mars .planet {
	width: .438em;
	height: .438em;
	
	position: relative;
	
	background-color: #B45309;
}

.mars .fobos {
	width: 1.25em;
	height: 1.25em;
	
	animation-duration: .7s;
}

.mars .fobos .satellite {
	width: .25em;
	height: .25em;
	
	background-color: #A8A29E;
}

.mars .demon {
	width: 2.25em;
	height: 2.25em;
	animation-duration: 1.6s;
	
}

.mars .demon .satellite {
	width: .2em;
	height: .2em;
	
	background-color: #A8A29E;
}

.asteroids {
	width: 48em;
	height: 48em;

}

