<button type="button" class="btn btn-success">
    <i class="fa fa-tags"></i>
    Categorize
</button>
<button type="button" class="btn btn-warning">
    <i class="fa fa-shopping-cart"></i>
    Add to cart
</button>
<button type="button" class="btn btn-danger">
    <i class="fa fa-heart"></i>
    Favorite
</button>
<button type="button" class="btn btn-primary">
    <i class="fa fa-copy"></i>
    Similar
</button>
<button type="button" class="btn btn-secondary">
    <i class="fa fa-truck"></i>
    Selling offer
</button>
