      <div class="position-sticky pt-2">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>General</span>
          <a class="link-secondary" href="/setup.html" aria-label="Endpoint">
            <i class="fa fa-plug"></i>
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/index.html">
              <i class="fa fa-home"></i>
              Homepage
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Inbox</span>
          <a class="link-secondary" href="/inbox/bouncer.html" aria-label="Bouncing Tester">
            <i class="fa fa-flask"></i>
          </a>
          <a class="link-secondary" href="/inbox/receive.html" aria-label="Receiving Payloads">
            <i class="fa fa-envelope-open-o"></i>
          </a>
          <a class="link-secondary" href="/inbox/sending.html" aria-label="Sending Campaigns">
            <i class="fa fa-envelope-o"></i>
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/inbox/audience.html">
              <i class="fa fa-users"></i>
              Audience Manager
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Model</span>
          <a class="link-secondary" href="/model/index.html" aria-label="Operating Remotely">
            <i class="fa fa-gamepad"></i>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/model/index.html?name=backend">
              <i class="fa fa-database"></i>
              Backend Manager
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/model/index.html?name=webpage">
              <i class="fa fa-cubes"></i>
              Listing Mockups
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/model/index.html?name=product">
              <i class="fa fa-shopping-cart"></i>
              Product's Wish
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Toolkit</span>
          <a class="link-secondary" href="/tools/finding.html" aria-label="Search Engine">
            <i class="fa fa-search"></i>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/tools/generator.html">
              <i class="fa fa-code"></i>
              Code Generator
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tools/network.html">
              <i class="fa fa-wifi"></i>
              Network Toolkit
            </a>
          </li>
<!--
          <li class="nav-item">
            <a class="nav-link" href="/tools/finding.html">
              <i class="fa fa-search"></i>
              Search Engine
            </a>
          </li>
//-->
          <li class="nav-item">
            <a class="nav-link" href="/tools/terminal.html">
              <i class="fa fa-terminal"></i>
              Terminal Shell
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <a href="/oauth/index.html">oAuth Connect</a>
          <a class="link-secondary" href="/oauth/index.html?provider=amazon" aria-label="Amazon Web Services">
            <i class="fa fa-amazon"></i>
          </a>
          <a class="link-secondary" href="/oauth/index.html?provider=facebook" aria-label="Facebook Graph">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="link-secondary" href="/oauth/index.html?provider=github" aria-label="Github Corporate">
            <i class="fa fa-github"></i>
          </a>
          <a class="link-secondary" href="/oauth/index.html?provider=google" aria-label="Alphabet Google">
            <i class="fa fa-google"></i>
          </a>
        </h6>
      </div>
