input,select {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.clignote {
    animation: Test 1s infinite;
}
.success {
    color:green;
    font-weight: bold
}
.error {
    color:red;
    font-weight: bold
}
.devider {
    height: 20px;
    width: 100%;
}
.normal {
    color:black;
}
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

th.toolset {
    width: 110px;
}

